<h1>Address Index</h1>

<ul>
<% @addresses.each do |a| %>
<li><%= a.lat %>
    <%= a.long %>
    <%= link_to "Show", address_path(a.id) %>
    <%= link_to "Edit", edit_address_path(a.id) %>
    <%= link_to "Delete", address_path(a.id), method: :delete %></li>





<% end %>


</ul>


<%= link_to "Add New Address", new_address_path %>
