
<h1>Add in New Address Info</h1>

<%= form_for @address do |a| %>
  <%= a.label :long %>
  <%= a.number_field :long, step: :any %><br><br>
  <%= a.label :lat %>
  <%= a.number_field :lat, step: :any %><br><br>
  <%= a.submit %>

<% end %>
