  <p><%= @place.name %></p>

  <ul>
  <% @place.addresses.each do |a| %>
    <li><p>Long: <%= a.long %> <br>
    Lat: <%= a.lat %>
    <%= link_to "Edit", edit_place_address_path(@place, a.id) %>
    <%= link_to "Delete",place_address_path(@place, a.id), method: :delete %>

    </li></p>

    <% end %>
</ul>

<%= link_to "Back", adventure_path(@adventure) %><br>

<%= link_to "Add New Address", new_place_address_path(@place) %>
